{
  description = "{{ description }}";

  inputs = {
    nixpkgs.url = "https://channels.nixos.org/nixpkgs-unstable/nixexprs.tar.xz";
    flake-parts = {
      url = "github:hercules-ci/flake-parts";
      inputs.nixpkgs-lib.follows = "nixpkgs";
    };
    fenix = {
      url = "github:nix-community/fenix";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs = inputs@{ flake-parts, ... }:
    flake-parts.lib.mkFlake { inherit inputs; } {
      systems = [ "aarch64-darwin" "x86_64-linux" "aarch64-linux" ];

      perSystem = { pkgs, inputs', ... }:
        let
          fenix = inputs'.fenix.packages;

          toolchain = fenix.stable.withComponents [
            "cargo"
            "clippy"
            "rust-src"
            "rustc"
            "rustfmt"
          ];

          rustPlatform = pkgs.makeRustPlatform {
            cargo = toolchain;
            rustc = toolchain;
          };
        in
        {
          packages.default = rustPlatform.buildRustPackage {
            pname = "{{ project_slug }}";
            version = "0.1.0";
            src = ./.;
            cargoLock = {
              lockFile = ./Cargo.lock;
              allowBuiltinFetchGit = true;
            };
          };

          devShells.default = pkgs.mkShell {
            packages = [
              toolchain
              fenix.rust-analyzer
              pkgs.cargo-nextest
            ];

            shellHook = ''
              echo "👋🏻 Welcome to the {{ project_name }} devShell"
            '';
          };
        };
    };
}
